<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
       .box1{
           width:100px;
           height:100px;
           background:#ff0000;
           border-radius: 50%;
           margin-left:120px;
       }
    </style>
</head>
<body>
   <box class="box">
     <input type="number" v-model="w"/>
     <input type="number" v-model="h"/>
     <div class="box1" v-bind:style="{width:w+'px',height:h+'px'}"></div>
 </box> 
 <script>
    new Vue({
       el:'.box',
       data:{
         w:'100',
         h:'100'
       }
    })
 </script>
</body>
</html>
